<div class="panel panel-default panel-intro">
    <link rel="stylesheet" href="http://layui.hcwl520.com.cn/layui/css/layui.css?v=201801090202">
   {:build_heading()}

   <div class="panel-body">
      
       <div id="myTabContent" class="tab-content">
           <div class="tab-pane fade active in" id="one">
               <div class="widget-body no-padding">

                    <div id="toolbar" class="toolbar">
                            {:build_toolbar('refresh')}
                            <!-- <a class="btn btn-success btn-add" id="add" onclick="add()" data-toggle="dropdown"><i class="fa fa-plus"></i>增加</a> -->
                        </div>

                <form method="post" action="" >
                           <div class="col-sm-3"  style=" width:300px; margin-top:-42px;text-align: center; margin-left: 600px;">
                               <div class="input-group">
                                   <input type="text" placeholder="请输入会员姓名"
                                      class="input-sm form-control"name="keyword" value="{$keyword}">
                                   <span class="input-group-btn">
                                       <button type="submit" class="btn btn-sm btn-primary">
                                           搜索
                                       </button>
                                   </span>
                               </div>
                           </div>
                       </form> 

                   <!--表格开始-->
           <form action="{:url('delslect')}" method="post" name="updateSort" id="updateSort" >
                   {//<input type="hidden" name="page_num" value={$_GET['p']}
                   <div class="table-responsive">
                       <table class="table  table-bordered table-hover" width="100%">
                           <thead>{//表头}
                           <tr>
                               <th style="text-align: center">ID</th>
                               <th style="text-align: center">会员昵称</th>
                               <th style="text-align: center">订单类型</th>
                               <th style="text-align: center">金额</th>
                               <th style="text-align: center">城市</th>
                               <th style="text-align: center">记录时间</th>
                               <!-- <th style="width: 100px">操作</th> -->
                           </tr>
                           </thead>
                           <tbody>{//表内容}
                                {if condition="$count eq 0"}
                                <tr class="text-c"><td style="text-align: center" colspan="21">暂无相关数据</td></tr>
                            {else/}
                             {volist name="list" id="vo"}
                              <tr>                                      
                                <td style="text-align: center">{$vo.id}</td>
                                <td style="text-align: center">{$vo.nickname}</td>
                                <td style="text-align: center">
                                    {if condition="($vo.order_type) eq '0' "}充值
                                    {else/}其他类型
                                    {/if}
                                  </td>
                                <td style="text-align: center">{$vo.money}元</td>
                                <td style="text-align: center">{$vo.areaname}</td>
                                <td style="text-align: center">{$vo.create_time|date="Y-m-d:H:i:s",###}</td>    
                             {/volist}
                             {/if}
                           </tbody>
                       </table>
                       <!--分页开始-->
                       <div style="padding-top:15px;float: right; ">
                           {//<div class="page"></div>}
                           {$page}
                       </div>
                       <!--分页结束-->
                   </div>
                   <!-- <div class="padding border-bottom">
                      
                           <button type="button" class="layui-btn" id="checkall">
                             <span class="iconfont icon-htmal5icon22"></span>全选</button>       
                             
                             <button type="submit" class="layui-btn layui-btn-danger" onclick="delslect()">
                                   <span class="iconfont icon-shanchu"></span>批量删除</button>                                   
                         </div> -->
                          
               </form>
              
               </div>
           </div>

       </div>
   </div>
</div>


<!--多选删除-->
<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script>

//  layer.open({
//   content: 'test'
//   ,btn: ['按钮一', '按钮二', '按钮三']
//   ,yes: function(index, layero){
//     //按钮【按钮一】的回调
//   }

    // 修改编辑
    function save(id){
           layer.open({
             type: 2,
             shadeClose: true,
             maxmin: true, 
             title:'编辑',
             shade: 0.3,
             area: ['893px', '600px'],
             content: '/admin/management/toexamine/saves/?id='+id
           });
       }
//证件详情
function show_paper(id)
{ 
  layer.open({
   type:2,
   shadeClose:true,
   maxmin:true,
   title:'证件详情',
   shade: 0.3,
   area:['893px','600px'],
   content: '/admin/management/management/show_paper/?id='+id 

  });
}
//增加
$("#add").click(function(){
 layer.open({
     type: 2,
     title: '增加',
     shadeClose: true,
     shade: false,
     maxmin: true, //开启最大化最小化按钮
     area: ['893px', '600px'],
     content: '/admin/management/management/add'
});
})
 
//删除
function des(id) {

 if (confirm("您确定要删除吗?")) {
     
} else {
               return false;
        }  

}
     $("#checkall").click(function() {
       $("input[name='id[]']").each(function() {
         if (this.checked) {
           this.checked = false;
         } else {
           this.checked = true;
         }
       });
     })

    //推广状态-修改    
 function is_exten()
   {
       
    $.get('{:url("is_exten")}',function(res){
     if(res.codes<2)
     {
           layer.alert(res.msg,{icon:2});
     }else
     {
        layer.msg(res.msg);
       }
    },'json')     
}


   function delslect() {
       var Checkbox = false;
       $("input[name='id[]']").each(function() {
         if (this.checked == true) {
           Checkbox = true;
         
         }
       });
       if (Checkbox) {
           var t = confirm("您确认要删除选中的内容吗？");
            
       if (t == false) return false;
       } else {
       //   alert("请选择您要删除的内容!");
     layer.alert('请选择您要删除的内容!', {icon: 2});

         return false;
       }
     }</script>
     
    




      