<!DOCTYPE html>
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="renderer" content="webkit">
        <link rel="stylesheet" href="/assets/css/admin.css">
        <link rel="stylesheet" href="/assets/css/pintuer.css">
		<title></title>
     
	</head>
<body>
<div class="panel admin-panel">

 <form method="post" class="form-x" action="">  

<div class="panel-head" id="add"><strong><span class="iconfont icon-icon-xiugai"></span>邀请跑男注册金额设置</strong></div>
	<br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男注册：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['one_money']}" name="one_money">
			<div class="tips" title="">元</div>
		</div>
	</div>

	<br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男接一单：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['ones_money']}" name="ones_money">
			<div class="tips" title="">元</div>
		</div>
	</div>
	
	<br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男接两单：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['two_money']}" name="two_money">
			<div class="tips" title="">元</div>
		</div>
	</div>

	<br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男接三单：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['three_money']}" name="three_money">
			<div class="tips" title="">元</div>
		</div>
	</div>

	<br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男接四单：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['four_money']}" name="four_money">
			<div class="tips" title="">元</div>
		</div>
	</div>


	<br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男接五单：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['five_money']}" name="five_money">
			<div class="tips" title="">元</div>
		</div>
	</div>


    <br>
	<div class="form-group" style="margin-bottom: 0px; padding-bottom: 5px;">
		<div class="label">
			<label>邀请跑男接十单：</label>
		</div>
		<div class="field">
			<input type="text" class="input w50" value="{$list['ten_money']}" name="ten_money">
			<div class="tips" title="">元</div>
		</div>
	</div>

	
	 <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="btn btn-success  size-L radius" type="submit"> 确认修改</button>
        </div>
      </div>
    </form>
  </div>

</body></html>