body {
	background-color: #fff;
}

.mui-bar-nav {
	background-color: #fff;
	box-shadow: none;
	border-bottom: 1px solid #DCDCDC;
}



.mui-title {
	font-size: 17px;
	color: #333333;
}

.mui-title span:first-child {
	margin-right: 50px;
}

.mui-title .active {
	color: #10B6FF;
	border-bottom: 1px solid #10B6FF;
	padding-bottom: 5px;
}

.mui-content {
	background-color: #fff;
}

.today-in {
	margin: 0 auto;
	width: 110px;
	height: 125px;
	background: url(../img/shouyebg.png) no-repeat;
	background-size: 100%;
	padding-bottom: 25px;
	text-align: center;
}

.today-in p {
	margin: 0 auto;
	color: white;
}

.today-in p:first-child {
	width: 75%;
	font-size: 12px;
	padding-top: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #fff;
}

.today-in p:last-child {
	font-size: 18px;
	margin-top: 7px;
	font-weight: bold;
}

.today-in p:last-child span {
	font-size: 12px;
	font-weight: normal;
}

.order {
	padding-top: 16px;
	border-top: 1px solid #DCDCDC;
	border-bottom: 1px solid #DCDCDC;
	background-color: #fff;
}

.order:after {
	content: '';
	display: block;
	clear: both;
}

.order>div {
	width: 33.333%;
	text-align: center;
}

.order p {
	line-height: 1;
}

.order .ft {
	font-size: 18px;
	color: #333;
}

.order .total-order {
	position: relative;
}

.order .total-order:before,
.order .total-order::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 30px;
	background-color: #858585;
	top: 5px;
}

.order .total-order:before {
	left: 5px;
}

.order .total-order::after {
	right: 5px;
}

.backdrop {
	position: absolute;
	display: none;
}

.mui-scroll-wrapper {
	background-color: #fff;
}

.mui-scroll header {
	border-bottom: none;
	margin: 20px 5px;
}
.mui-scroll .mc {
	padding-top: 77px;
}
.mui-scroll .msg {
	margin: 16px 0 48px 25px;
}
.mui-scroll .msg:after{
	content: '';
	display: block;
	clear: both;
}
.mui-scroll .msg>div:first-child {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin-right: 10px;
	overflow: hidden;
}
.mui-scroll .msg img {
	width: 100%;
	height: 100%;
	
}
.mui-scroll .msg p {
	color: #333333;
	margin: 5px 0;
}
.mui-scroll .msg .name {
	font-size: 19px;
}
.mui-scroll .msg .name+span {
	font-size: 12px;
	color: white;
	padding: 4px 9px;
	background-color: #10B6FF;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}
.mui-scroll .balance:after{
	content: '';
	display: block;
	clear: both;
}
.mui-scroll .balance {
	margin: 0 auto;
	text-align: center;
	width: 84%;
	padding: 0 3%;
	border-bottom: 1px solid #DCDCDC;
}
.mui-scroll .balance p {
	color: #333;
}
.mui-scroll .items {
	margin: 30px 35px;
}
.mui-scroll .items p {
	margin: 20px 0;
	color: #333;
}
.mw .tx {
	width: 33px;
	height: 33px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	margin-top: 5px;
}
.mw .tx img {
	width: 100%;
	height: 100%;
}
.credit img {
	width: 16px;
	height: 16px;
}
