
<style type="text/css">
	.mui-table-view:after,
	.mui-table-view:before {
		height: 0;
	}

	.mui-control-content {
		height: 200px;
		background: #fff;
	}

	.city {
		display: inline;
	}

	header .right-btn {
		font-size: 14px;
		position: absolute;
		right: 15px;
		line-height: 44px;
		color: #333333;
	}

</style>

<header class="mui-bar mui-bar-nav">
	<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	<h1 class="mui-title">地址选择 &bull; <div class="city"><span id="vv-city-info"></span><i class="iconfont icon-xiala"
																						  style="font-size: 11px;"></i></div>
	</h1>
</header>

<div class="mui-content">

</div>


<script src="/assets/js/frontend/address/searchhead.js"></script>
