<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>VV跑腿</title>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
            <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            body {
                padding-top: 70px; 
            }
            footer {
                background-color: #222;
                color:#9d9d9d;
                padding:20px 0;
            }
        </style>
    </head>

    <body>

        {__CONTENT__}

        <!-- jQuery -->
        <!--<script src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>-->

    </body>

</html>

