<link rel="stylesheet" type="text/css" href="__CDN__/assets/css/style.css"/>

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">修改昵称</h1>
</header>
<div class="vv-mg">
    <form class="mui-input-group" action="javascript:;">
        <div class="mui-input-row register-input">
            <label>昵称</label>
            <input type="text" class="mui-input-clear" name="nickname" placeholder="新昵称">
        </div>
    </form>
    <button id="edit-btn" class="public-g-btn btn-block">确认修改</button>
</div>

<script src="__CDN__/assets/js/frontend/user/changenkn.js"></script>