
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/reward.css"/>

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">邀请好友</h1>
</header>
<div class="vv-mg-42">
    <div class="qr-code-box">
        <p class="p1">面对面邀请</p>
        <img class="qr-code-img" src="/assets/img/vvkh.png" >
        <p class="p2">扫描二维码，下载VV跑腿<p/>
        <!--<button type="button" id="download" class="mui-btn mui-btn-blue mui-btn-outlined">保存到相册</button>-->
    </div>
    <!--<div id="gongneng">
        <ul class="mui-table-view mui-grid-view mui-grid-9">
            <li id="weixin" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-3">
                <a href="#">
                    <span class="mui-icon iconfont icon-weixin"></span>
                    <div class="mui-media-body">分享给微信好友</div>
                </a>
            </li>
            <li id="pengyouquan" class="mui-table-view-cell mui-media mui-col-xs-6 mui-col-sm-3">
                <a href="#">
                    <svg class="icon mui-icon " aria-hidden="true">
                        <use xlink:href="#icon-pengyouquan"></use>
                    </svg>
                    <div class="mui-media-body">分享至朋友圈</div>
                </a>
            </li>
        </ul>
    </div>-->
    <h4 class="rule">—邀请您的好友下载并注册—</h4>
    <!--<p>1.规则1</p>-->
</div>

<script src="/assets/js/frontend/user/invitingawards.js"></script>
<script src="/assets/js/frontend/user/iconfont.js"></script>