
<link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/assets/css/member-info.css"/>
<style type="text/css">
    .vv-li-left{
        color:rgba(51,51,51,1);
        font-size:15px;
        font-weight:500;
        font-family:PingFang-SC-Medium;
    }
    .mui-bar-footer {
        width: 100%;
        bottom: 20px;
        position: absolute;
        text-align: center;
        font-size: 14px;
    }
    .company{
        text-align: center;
        margin-top: 50px;
        line-height: 200%;
    }
</style>

<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">使用帮助</h1>
</header>
<div class="mui-content">
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <span class="vv-li-left">法律和隐私条款</span>
            <span class="vv-li-right"><span class="iconfont icon-fanhui-copy"></span></span>

        </li>
        <li class="mui-table-view-cell">
            <span class="vv-li-left">常见问题</span>
            <span class="vv-li-right"><span class="iconfont icon-fanhui-copy"></span></span>
        </li>
        <li class="mui-table-view-cell">
            <span class="vv-li-left">意见反馈</span>
            <span class="vv-li-right"><span class="iconfont icon-fanhui-copy"></span></span>
        </li>
        <li class="mui-table-view-cell">
            <span class="vv-li-left">人工服务</span>
            <span class="vv-li-right"><span class="iconfont icon-fanhui-copy"></span></span>
        </li>
        <li class="mui-table-view-cell">
            <span class="vv-li-left">关于我们</span>
            <span class="vv-li-right"><span class="iconfont icon-fanhui-copy"></span></span>
        </li>
    </ul>
    <div class="company">
        <img src="/assets/img/logo.png">
        <p>CopyRight@2018-<?php echo date("Y")?></p>
        <p>微微时代（深圳）科技发展有限公司</p>
    </div>

</div>
<div class="mui-bar-footer">
    客服电话：400-00-0000
</div>

<script src="/assets/js/frontend/user/userhelp.js"></script>